body.is-section-signup.is-white-signup .layout.is-section-signup .signup__step.is-add-ons .step-wrapper {
	.formatted-header__title,
	.formatted-header__subtitle {
		text-align: left;
	}

	.formatted-header {
		margin-right: 1rem;
		max-width: 37.5rem;
	}

	.button {
		border-radius: 4px;
	}
}

